app.trivio-ai.com {
    reverse_proxy app:3000 app-next:3000 {
        lb_policy first
        health_uri /api/health
        health_interval 3s
        health_timeout 3s
        fail_duration 6s
        flush_interval -1
    }
}

trivio-ai.com, www.trivio-ai.com {
    handle {
        @noTrailingSlash {
            not path /
            not path *.*
            not path */
        }
        redir @noTrailingSlash {uri}/ 301

        root * /var/www/trivio-landing
        file_server
        try_files {path} {path}.html {path}/index.html /index.html
    }
}
